{% include 'top.html.twig'%}
<div class="jumbotron">
  <h1 class="well"><center>Zach's Huge Shoeporium</center></h1>
  <h3 class="well"><center>We buy and sell shoes, please come on down!</center><h3>
  <div class="well">
  <ol>
  <li> <center>Check out our: <a href="store">Stores</a></center></li>
  <li> <center>Check out our: <a href="brand">Brands</a></center></li>
  <li> <center>Feel free to add to our: <a href="stores">Stores</center></a></li>
  <li> <center>Also you can add to our: <a href="brands">Brands</center></a></li>
  <ol>
  </div>
</div>
{% include 'bottom.html.twig'%}
