{% include 'top.html.twig'%}
<div class="jumbotron">
<h1 class="well"><center>Zach's Huge Shoeporium</center></h1>
<h3 class="well"><center>We buy and sell shoes, please come on down! <em> ROCK BOTTOM PRICES!!</em></center><h3>
  <div class="well">
    <ol>
      <li>Please check out our: <a href="stores">Stores</a>! Also feel free to add to our: <a href="stores">Stores</center></a></li>
      <li>Please look out our: <a href="brands">Brands</a>! Also you can add to our: <a href="brands">Brands, too!!</center></a></li>
    <ol>
  </div>
</div>
{% include 'bottom.html.twig'%}
